
<h2> Criar Pedido </h2>
<hr>
<form>
  <p>
    Cliente:
    <select [(ngModel)]="umPedido.cliente">
      <option *ngFor="let cliente of clientes" [ngValue]="cliente.razao">{{cliente.razao}}</option>
    </select>
  </p>
  <p>
    Produto:
    <select [(ngModel)]="umPedido.produto">
      <option *ngFor="let produto of produtos" [ngValue]="produto.nome">{{produto.nome}}</option>
    </select>
  </p>

  <p>Quantidade:  <input type="text" name="qtdades" [(ngModel)]="umPedido.qtdade" /></p>

  <p>
    Usuário:
    <select [(ngModel)]="umPedido.usuario">
      <option *ngFor="let usuario of usuarios" [ngValue]="usuario.nome">{{usuario.nome}}</option>
    </select>
  </p>

  <p><button type="button" (click)="cadastrar()">Cadastrar</button></p>
</form>


<h3> Pedidos Criados</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Total</th>
    <th>Usuário</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let pedido of pedidos">
    <td>{{pedido.id}}</td>
    <td>{{pedido.cliente.razao}}</td>
    <td>{{pedido.produto.nome}}</td>
    <td>{{pedido.qtdade}}
    <td>{{pedido.total}}</td>
    <td>{{pedido.usuario.nome}}</td>
    <td><button (click)="atualizar(pedido.id)">Atualizar</button><button (click)="remover(pedido.id)">Remover</button></td>

  </tr>
</table>
